/* Wrapper geral da Home */
.home-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;          /* ocupa 100% da altura da tela */
  background: linear-gradient(135deg, #f0f4ff, #e6f7ff);
}

/* Conteúdo principal */
.home-content {
  flex: 1;                    /* ocupa todo o espaço disponível */
  display: flex;
  flex-direction: column;
  
}

